*{margin: 0; padding: 0; list-style: none; text-decoration: none;line-height:1; font-family:Pretendard Variable;font-size: 16px;}


.inner{
            width: 1200px;
            margin: 0 auto;
 }

a{
      text-decoration:none;   color:inherit;
}
 video {
    width: 100%;  height: auto;
}
.blind{ 
    display: none;  
}
    