#header{

  position: absolute;
  width: 100%;
}
#header header{

  display: flex;
  margin-top: 20px;
}

#header header h1 {
  background-image:url(../img/logo.png);
  background-size: cover;
  width: 145px;
  font-size: 0;
  height: 40px;
  background-position: center;
 }

#header header nav{

  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
#header header nav .menu{

    
  display: flex;
  width: 100%;
}
#header header nav .menu li{

}
#header header nav .menu li a{

  padding: 0px 40px;
  color: white;
}
    
#header header nav .language{

}
#header header nav .language ul{

}
#header header nav .language ul li{
    
  display: none;
}
#header header nav .language ul span .ham{
  
}



