#header{

  position: relative;
  width: 100%;
  cursor: pointer;
}
#header:before{
  content: "";
  background: white;
  height:0;
  position: absolute;
  width: 100%;
  transition: all.3s;
}
#header .on::before{
  height: 310px;
}

.on{
  height: 310px;
  color: black;
  
}

#header header{

  display: flex;
  margin-top: 20px;
  position: absolute;
  left: calc((100% - 1200px) / 2);
  z-index: 1;
}

#header header h1 {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 40px;
  width: 140px;
 }

#header header nav{

  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
#header header nav .menu{

    
  display: flex;
  width: 100%;
}
#header header nav .menu li{

}
#header header nav .menu li a{

  padding: 0px 40px;
  color: inherit;
}
.sub{

  height: 0;
  transition: all.3s;
  overflow: hidden;
  position: absolute;
}

.sub li{

  line-height: 2;
}
.sub li a{
  
  color: rgb(87, 87, 91);
}
    
.language{

}
.language ul{

}
.language ul li{
    
  display: none;
}
.language ul span .ham{
  
}



