.full{
  width: 100%;
}
.absolute{
  position: absolute;
}
.left{
  left:50%;
}
.top{
  top: 50%;
}
.trans{
  transform: translate(-50%,-50%);
}
.transx{
  transform: translateX(-50%);
}
#main{

  position: relative;
}
#main h2{
  text-align: center;
  font-size: 48px;
  font-family: poppins;
  font-weight: 800;
}
#main p{

  text-align: center;
  line-height: 4;
  font-weight: 500;
  color: rgb(87 87 91);
  font-size: 18px;
}
#main ul.slide{
  height: 526px;
}
#main ul.slide li {
  
  height: 100%;
  background-size: cover;
}
#main ul.slide li .s_cont{
  bottom: 100px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0 20px;
  justify-content: center;
}
#main ul.slide li .s_cont .s_text{

  font-size: 16px;
  color: white;
  font-weight: 500;
  line-height: 1.5;
}
#main ul.slide li.s1{
  background-image:url(../img/playBanner001.png);
  display: none;
}
#main ul.slide li a{

  text-align: center;
  position: absolute;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 0.4px;
  line-height: 56px;
}
#main ul.slide li a before{
  content: "";
}

#main ul.slide li.s2{
  background-image:url(../img/playBanner001.png);
  display: none;
}
#main ul.slide li.s3{
  background-image:url(../img/playBanner001.png);
  display: none;
}
#main ul.slide li.s4{
  background-image:url(../img/playBanner004.png);
  display: none;
}
#main ul.slide li.s5{
  background-image:url(../img/playBanner005.png);
  border-radius: 20px;
}


#main ul.cont{

  display: flex;
  justify-content: center;
  margin-bottom: 200px;
}
#main ul.cont li{

  font-size: 28px;
  padding: 20px;
  font-family: poppins;
}
#main a{

  color: white;
}
#main_2{

}
#main_2 ul{

  display: flex;
  padding-bottom: 240px;
}
#main_2 .s_t{
  
  width: 400px;
  align-self: center;
  opacity: 1;
  transform: none;
}
#main_2 .s_t span{
  
  font-size: 48px;
  font-weight: 800;
  line-height: 1.3;
}
#main_2 .s_t p{
  
  font-size: 20px;
  color: rgb(87 87 91);
  line-height: 1.8;
  margin: 20px 0;
}
#main_2 .s_v{
  
  width: 800px;
}

#main_3{

}
#main_3 h2{

  text-align: center;
  font-size: 48px;
  font-weight: 800;
}
#main_3 p{
  
  text-align: center;
  font-size: 18px;
  line-height: 2.8;
  font-weight: 500;
  color: rgb(87, 87, 91);
}
#main_3 .content{

}
.content .banner{
  
  display: flex;
  padding-top: 80px;
  gap: 35px;
  padding-bottom: 150px;
}
.content .banner .b_box1{

}
.content .banner .b_box1:hover{
  
  transform: translateY(-5%);
  transition: ease-in-out;
  transition-duration: .5s;
}
.content .banner .b_box2:hover{
transform: translateY(-5%);
  transition: ease-in-out;
  transition-duration: .5s;
}
.content .banner .b_box3:hover{
transform: translateY(-5%);
  transition: ease-in-out;
  transition-duration: .5s;
}
#main_3 .content .banner .b1{
  background-image:url(../img/banner01.jpeg);
  height: 238px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 376px;
  border-radius: 10px;
}
#main_3 .content .banner .b2{
  background-image:url(../img/banner02.jpeg);
  height: 238px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 376px;
  border-radius: 10px;
}
#main_3 .content .banner .b3{
  background-image:url(../img/banner03.jpeg);
  height: 238px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 376px;
  border-radius: 10px;
}
.content .b_t{

}
.content .b_t li{

  width: calc(100% / 3);
}
.b_t h3 a{
  
  color: #797981;
  line-height: 2.5;
}
.b_t span a{

  overflow: hidden;
  font-size: 18px;
  font-weight: 700;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  width: 376px;
  display: block;
}

