.full{
  width: 100%;
}
.absolute{
  position: absolute;
}
.left{
  left:50%;
}
.top{
  top: 55%;
}
.trans{
  transform: translate(-50%,-50%);
}
.transx{
  transform: translateX(-50%);
}
#main{

  position: relative;
}
#main h2{
  text-align: center;
  font-size: 48px;
  font-family: poppins;
  font-weight: 800;
  color: #212126;
}
#main p{

  text-align: center;
  line-height: 3;
  font-weight: 500;
  color: rgb(87 87 91);
  font-size: 18px;
  padding-bottom: 40px;
}
#main ul.slide{
  height: 526px;
}
#main ul.slide li {
  
  height: 100%;
  background-size: cover;
}
#main ul.slide li .s_cont{
  bottom: 100px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0 20px;
  justify-content: center;
}
#main .s_text a{

  font-size: 16px;
  color: white;
  font-weight: 500;
  line-height: 1.5;
}
#main ul.slide li.s1{
  background-image:url(../img/playBanner001.png);
  display: none;
}
#main ul.slide li .text{

  text-align: center;
  position: absolute;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 0.4px;
  line-height: 56px;
}
#main ul.slide li a before{
  content: "";
}

#main ul.slide li.s2{
  background-image:url(../img/playBanner001.png);
  display: none;
}
#main ul.slide li.s3{
  background-image:url(../img/playBanner001.png);
  display: none;
}
#main ul.slide li.s4{
  background-image:url(../img/playBanner004.png);
  display: none;
}
#main ul.slide li.s5{
  background-image:url(../img/playBanner005.png);
  border-radius: 20px;
}


#main ul.cont{

  display: flex;
  justify-content: space-between;
  margin: 50px 40px 200px 40px;
}
#main ul.cont li a{

  font-size: 28px;
  padding: 20px;
  font-family: poppins;
  color: black;
}
#main a{

  color: white;
}
#main_2{

}
#main_2 ul{

  display: flex;
  padding-bottom: 240px;
}
#main_2 .s_t{
  
  width: 400px;
  align-self: center;
  opacity: 1;
  transform: none;
}
#main_2 .s_t span{
  
  font-size: 48px;
  font-weight: 800;
  line-height: 1.3;
}
#main_2 .s_t p{
  
  font-size: 20px;
  color: rgb(87 87 91);
  line-height: 1.8;
  margin: 20px 0;
}
#main_2 .s_v{
  
  width: 800px;
}
#main_2 .m-video{
  border-radius: 15px;
}

#main_3{

}
#main_3 h2{

  text-align: center;
  font-size: 48px;
  font-weight: 800;
}
#main_3 p{
  
  text-align: center;
  font-size: 18px;
  line-height: 2.8;
  font-weight: 500;
  color: rgb(87, 87, 91);
}

.banner{
  
  display: flex;
  padding-top: 80px;
  padding-bottom: 150px;
  justify-content: space-between;
}

.b{
  width: 376px;
}

.b img{
  width: 100%;
  height: 238px;
  border-radius: 10px;
}
.b:hover img{
  transform: translateY(-5%);
  transition: .5s;
}
.b span a{

  width: 100%;
  display: block;
  padding: 15px 0;
  font-weight: 700;
  color: rgb(121 121 129);
}
.b strong a{

  font-size: 18px;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 376px;
  display: block;
  white-space: nowrap;
}

